In [1]:
import os
os.chdir('/public/gkxiao/work/dude_ls/abl1')

In [2]:
import pandas as pd
import numpy as np
from rdkit.ML.Scoring import metrics
# the metrics is stolen from oddt
# https://github.com/oddt/oddt

read the LigandScout score

In [3]:
df = pd.read_csv('all_score.csv')

In [4]:
df.head(5)

           Title   label      Score
0  CHEMBL1169875  active  56.016970
1  CHEMBL1171280  active  56.244408
2  CHEMBL1214141  active  57.994644
3  CHEMBL1214142  active  57.960888
4     CHEMBL1421  active  58.082070

In [5]:
df_sorted = df.sort_values(by=['Score'],ascending=False)

In [6]:
df_sorted.head(5)

            Title   label     Score
235  ZINC08820798   decoy  66.20954
446  ZINC59364347   decoy  65.91436
322  ZINC21605861   decoy  65.17943
41   CHEMBL585666  active  58.09214
4      CHEMBL1421  active  58.08207

In [7]:
y = df_sorted['label']
label_map = {'active': 1, 'decoy': 0}
labels = [label_map[y_true] for y_true in y]
score = df_sorted['Score']

x=np.array(score)
y=np.array(labels)

In [8]:
auc = metrics.roc_auc(y, x, pos_label=1, ascending_score=False)
print("ROC AUC = ",auc)

ROC AUC =  0.6038101578302584

In [9]:
bedroc = metrics.bedroc(y, x, alpha=20.0, pos_label=1)
print("alpha=20.0 BEDROC = ",bedroc)

alpha=20.0 BEDROC =  0.2494189734573182

In [10]:
ef = metrics.enrichment_factor(y, x, percentage=1, pos_label=1, kind='fold')
print("EF at 1% = ",ef)

EF at 1% =  20.742457542457544

In [11]:
logauc = metrics.roc_log_auc(y, x, pos_label=1, ascending_score=False, log_min=0.001, log_max=1.0)
print("logAUC [0.1%,100%]  = ",logauc)

logAUC [0.1%,100%]  =  0.40780652613488527